CREATE DATABASE [DBI202_SPRING2017_BLOCK5]
USE [DBI202_SPRING2017_BLOCK5]
GO
/****** Object:  Table [dbo].[Class]    Script Date: 25/03/2020 18:20:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Class](
	[classCode] [varchar](10) NOT NULL,
	[className] [varchar](150) NOT NULL,
 CONSTRAINT [PK_Class] PRIMARY KEY CLUSTERED 
(
	[classCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DummyTable]    Script Date: 25/03/2020 18:20:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DummyTable](
	[value] [int] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Exam]    Script Date: 25/03/2020 18:20:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Exam](
	[studentID] [varchar](10) NOT NULL,
	[subjectCode] [varchar](10) NOT NULL,
	[examDate] [date] NOT NULL,
	[examScore] [float] NOT NULL,
 CONSTRAINT [PK_Exam] PRIMARY KEY CLUSTERED 
(
	[studentID] ASC,
	[subjectCode] ASC,
	[examDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Scholarship]    Script Date: 25/03/2020 18:20:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Scholarship](
	[schoName] [varchar](150) NOT NULL,
	[schoGranted] [float] NOT NULL,
 CONSTRAINT [PK_Scholarship] PRIMARY KEY CLUSTERED 
(
	[schoName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Student]    Script Date: 25/03/2020 18:20:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Student](
	[studentID] [varchar](10) NOT NULL,
	[studentFName] [varchar](150) NOT NULL,
	[studentLName] [varchar](150) NULL,
	[studentGender] [bit] NOT NULL,
	[studentDOB] [date] NOT NULL,
	[studentAddress] [varchar](150) NOT NULL,
 CONSTRAINT [PK_Student] PRIMARY KEY CLUSTERED 
(
	[studentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Student_Class]    Script Date: 25/03/2020 18:20:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Student_Class](
	[studentID] [varchar](10) NOT NULL,
	[classCode] [varchar](10) NOT NULL,
 CONSTRAINT [PK_Student_Class] PRIMARY KEY CLUSTERED 
(
	[studentID] ASC,
	[classCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Student_Scholarship]    Script Date: 25/03/2020 18:20:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Student_Scholarship](
	[StudentID] [varchar](10) NOT NULL,
	[schoName] [varchar](150) NOT NULL,
 CONSTRAINT [PK_Student_Scholarship] PRIMARY KEY CLUSTERED 
(
	[StudentID] ASC,
	[schoName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Subject]    Script Date: 25/03/2020 18:20:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Subject](
	[subjectCode] [varchar](10) NOT NULL,
	[subjectName] [varchar](150) NOT NULL,
	[numOfCredit] [int] NOT NULL,
 CONSTRAINT [PK_Subject] PRIMARY KEY CLUSTERED 
(
	[subjectCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Class] ([classCode], [className]) VALUES (N'Class01', N'Class Number 1')
INSERT [dbo].[Class] ([classCode], [className]) VALUES (N'Class02', N'Class Number 2')
INSERT [dbo].[Class] ([classCode], [className]) VALUES (N'Class03', N'Class NUmber 3')
INSERT [dbo].[Exam] ([studentID], [subjectCode], [examDate], [examScore]) VALUES (N'ST01', N'DBA', CAST(0x253C0B00 AS Date), 2)
INSERT [dbo].[Exam] ([studentID], [subjectCode], [examDate], [examScore]) VALUES (N'ST01', N'DBI', CAST(0x253C0B00 AS Date), 5)
INSERT [dbo].[Exam] ([studentID], [subjectCode], [examDate], [examScore]) VALUES (N'ST01', N'DIS', CAST(0x253C0B00 AS Date), 6)
GO
INSERT [dbo].[Scholarship] ([schoName], [schoGranted]) VALUES (N'Hard', 5000)
INSERT [dbo].[Scholarship] ([schoName], [schoGranted]) VALUES (N'NoGranted', 999999)
INSERT [dbo].[Scholarship] ([schoName], [schoGranted]) VALUES (N'Talent', 10000)
INSERT [dbo].[Student] ([studentID], [studentFName], [studentLName], [studentGender], [studentDOB], [studentAddress]) VALUES (N'ST01', N'Alex', N'Mark', 0, CAST(0x18190B00 AS Date), N'123 Doren St. Peetbuck')
INSERT [dbo].[Student] ([studentID], [studentFName], [studentLName], [studentGender], [studentDOB], [studentAddress]) VALUES (N'ST02', N'Willson', N'III Smith', 1, CAST(0x2E180B00 AS Date), N'57 Fallow Eve')
INSERT [dbo].[Student] ([studentID], [studentFName], [studentLName], [studentGender], [studentDOB], [studentAddress]) VALUES (N'ST03', N'Link', N'Vu', 0, CAST(0x471B0B00 AS Date), N'8 th floor, Victoria bulding, 8 St Jonh P Jonh')
INSERT [dbo].[Student_Class] ([studentID], [classCode]) VALUES (N'ST01', N'Class01')
INSERT [dbo].[Student_Class] ([studentID], [classCode]) VALUES (N'ST01', N'Class02')
INSERT [dbo].[Student_Class] ([studentID], [classCode]) VALUES (N'ST02', N'Class01')
INSERT [dbo].[Student_Scholarship] ([StudentID], [schoName]) VALUES (N'ST01', N'Hard')
INSERT [dbo].[Student_Scholarship] ([StudentID], [schoName]) VALUES (N'ST01', N'Talent')
INSERT [dbo].[Student_Scholarship] ([StudentID], [schoName]) VALUES (N'ST02', N'Hard')
INSERT [dbo].[Subject] ([subjectCode], [subjectName], [numOfCredit]) VALUES (N'DBA', N'Data analysis', 15)
INSERT [dbo].[Subject] ([subjectCode], [subjectName], [numOfCredit]) VALUES (N'DBI', N'Database Design and Implementation', 15)
INSERT [dbo].[Subject] ([subjectCode], [subjectName], [numOfCredit]) VALUES (N'DIS', N'Distributed Information System', 10)
ALTER TABLE [dbo].[Exam]  WITH CHECK ADD  CONSTRAINT [FK_Exam_Student] FOREIGN KEY([studentID])
REFERENCES [dbo].[Student] ([studentID])
GO
ALTER TABLE [dbo].[Exam] CHECK CONSTRAINT [FK_Exam_Student]
GO
ALTER TABLE [dbo].[Exam]  WITH CHECK ADD  CONSTRAINT [FK_Exam_Subject] FOREIGN KEY([subjectCode])
REFERENCES [dbo].[Subject] ([subjectCode])
GO
ALTER TABLE [dbo].[Exam] CHECK CONSTRAINT [FK_Exam_Subject]
GO
ALTER TABLE [dbo].[Student_Class]  WITH CHECK ADD  CONSTRAINT [FK_Student_Class_Class] FOREIGN KEY([classCode])
REFERENCES [dbo].[Class] ([classCode])
GO
ALTER TABLE [dbo].[Student_Class] CHECK CONSTRAINT [FK_Student_Class_Class]
GO
ALTER TABLE [dbo].[Student_Class]  WITH CHECK ADD  CONSTRAINT [FK_Student_Class_Student] FOREIGN KEY([studentID])
REFERENCES [dbo].[Student] ([studentID])
GO
ALTER TABLE [dbo].[Student_Class] CHECK CONSTRAINT [FK_Student_Class_Student]
GO
ALTER TABLE [dbo].[Student_Scholarship]  WITH CHECK ADD  CONSTRAINT [FK_Student_Scholarship_Scholarship] FOREIGN KEY([schoName])
REFERENCES [dbo].[Scholarship] ([schoName])
GO
ALTER TABLE [dbo].[Student_Scholarship] CHECK CONSTRAINT [FK_Student_Scholarship_Scholarship]
GO
ALTER TABLE [dbo].[Student_Scholarship]  WITH CHECK ADD  CONSTRAINT [FK_Student_Scholarship_Student] FOREIGN KEY([StudentID])
REFERENCES [dbo].[Student] ([studentID])
GO
ALTER TABLE [dbo].[Student_Scholarship] CHECK CONSTRAINT [FK_Student_Scholarship_Student]
GO

--Câu 1
select *
from Student
where studentGender = '1'
--Câu 2
select s.studentFName, s.studentLName, CAST(avg(e.examScore) as decimal(38, 2)) as Average
from Student s right join Exam e on s.studentID = e.studentID
group by s.studentFName, s.studentLName
--Câu 3
select s.studentFName, s.studentLName, CAST(avg(e.examScore) as decimal(38, 2)) as Average
from Exam e join Student s on e.studentID = s.studentID
group by s.studentFName, s.studentLName
having avg(e.examScore) between 5 and 6
--Câu 4
select c.classCode, count(s.studentID)
from Class c left join Student_Class s on c.classCode = s.classCode
group by c.classCode
--Câu 5
select *,datediff(yy,studentDOB,getdate())
from Student
where studentGender = '1' and datediff(yy,studentDOB,getdate())>28
--Câu 6
select s.*,c.className
from Class c join Student_Class Z on c.classCode = Z.classCode 
right join Student s on s.studentID = Z.studentID
--Câu 7
select s.*,Y.schoName,Y.schoGranted
from Student s join Student_Scholarship Z on Z.StudentID = s.studentID 
join Scholarship Y on Y.schoName = Z.schoName
where Z.StudentID in (select top 1 StudentID
from Student_Scholarship
group by StudentID)
--Câu 8
select B.schoName,case 
	when B.schoName not in (select schoName from Student_Scholarship  ) then 0
	else sum(B.schoGranted) end
from Student_Scholarship A right join Scholarship B on A.schoName = B.schoName
group by B.schoName

select B.schoName, sum(B.schoGranted)
from Student_Scholarship A right join Scholarship B on A.schoName = B.schoName
group by B.schoName


select * from Exam
select * from Student
select * from [Subject]
select * from Class
select * from Student_Class
select * from Scholarship
select * from Student_Scholarship


